.shop__item{
    min-width: 250px;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 0 5px #00000048;
    display: flex;
    flex-direction: column;
}

.item__title{
    font-size: 20px;
    text-align: center;
    margin-bottom: 10px;
}

.img__container{
    margin-bottom: 15px;

    img{
        width: 100%;
    }
}


.item__price{
    font-size: 12px;
    justify-self: flex-end;
}